body{
    font-family: Arial, sans-serif
    
}
.producto{
    border: 1px, solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 200px;
    
}
.producto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
